[user]
	name = Luigi Antelmi
	email = luigi.antelmi@gmail.com
[init]
	defaultBranch = main
[push]
	default = simple
[color]
	ui = auto
[core]
	editor = vim
	whitespace = blank-at-eol, blank-at-eof, space-before-tab
[credential]
	helper = cache --timeout=3600
[http]
	postBuffer = 524288000
[alias]
	dc = diff --check
	history = log --graph --full-history --pretty=format:'%C(red)%h%Creset -%C(bold yellow)%d%C(bold cyan) %s %Creset %C(bold green)(%cr)%Creset - %C(white) %cn %Creset' --abbrev-commit --date=relative
	historyheads = log --graph --all --decorate --simplify-by-decoration
